body {
    background-color: forestgreen;
}

h1,h2,h3,h4 {
   text-align: center;
}

#run {
    position: relative;
    top: 50px;
    left: 530px;
    float: left;
}
.shop{
    position: relative;
    float: right;
    right: 100px;
    top: -90px;
}
