body {
    background-color: grey;
    background-image: url("pics/background.jpg");
    background-size: cover;
}

h1,h2,h3,h4 {
   text-align: center;
}
h1 {
    font-size: 46px;
}

#run {
    position: relative;
    float: left;
    width: 550px;
}
/*images*/
table, tr, td, img{
    border-radius: 5px;
    height: 10%;
    width: 35%;
}
/*table*/
table {
    table-layout: fixed;
    position:relative;
    float: right;
    right: 80px;
}
table,tr, td {
    border: 2px  outset;
    padding: 10px;
    background-color: rgba(51,170,51, .1);
    color: black;
    text-align: center;
}
