body {
    background-color: forestgreen;
}

h1,h2,h3 {
   text-align: center;
}

#run {
    position: relative;
    top: 20px;
    left: 500px;
    float: left;
}
 .shop{
    position: relative;
    float: right;
    right: 450px;
}
